
<div> 

<nav class="navbar navbar-expand-lg navbar-custom ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <a class="navbar-brand" href="#"></a>
        <div class="navbar-nav">
            <div class="logo">
                <img src="../../assets/images/MicrosoftTeams-image (1).png" width="125px">
             </div>
            <button class="nav-link" (click)="ManageProduct()"> ManageProducts </button>
            
            <button class="nav-link" (click)="ManageUsers()"> ManageUsers</button>

            <button class="nav-link" (click)="logout()"> Logout</button>

        </div>
    </div>
  </nav>
  <div> 
    <h1>Admin Dashboard</h1></div>
    <div class = "container">
        <img src="../../assets/images/image4.jpg" alt="Background Image">
    </div>
  